<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="utf-8">
		<title>用户中心--即刻社区后台</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<div th:replace="admin/templates/commons/link::head('/admin/static/css/public.css')"></div>
	</head>
	<body class="childrenBody">
		<form class="layui-form">
			<blockquote class="layui-elem-quote quoteBox">
				<form class="layui-form">
					<div class="layui-inline">
						<div class="layui-input-inline" id="keyType">
					      	<select name="keyType" class="keyType" lay-verify="required" lay-filter="skeyType">
					        	<option value=""></option>
					        	<option value="user_id">ID</option>
					        	<option value="user_name">用户名</option>
					        	<option value="user_age">年龄</option>
					        	<option value="user_sex">性别</option>
					        	<option value="user_profile">简介</option>
					      	</select>
					    </div>
				      	<div class="layui-input-inline  layui-form-pane" id="keyWordBox" pane>
							<!-- <input type="text" class="layui-input searchVal" placeholder="请输入关键字" disabled/> -->
						</div>
					</div>
					<a class="layui-btn search_btn" data-type="reload">搜索</a>
					<div class="layui-inline">
						<a class="layui-btn layui-btn-normal addNews_btn">添加用户</a>
					</div>
					<div class="layui-inline">
						<a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
					</div>
				</form>
			</blockquote>
			<table id="userList" lay-filter="userList"></table>
			<!--操作-->
			<script type="text/javascript" th:inline="javascript">
				var currentUserName = [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}]];
				var currentUserId = [[${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}]];
			</script>
			<script type="text/html" id="userListBar" th:inline="javascript" charset="UTF-8">
				<div sec:authorize="hasRole('ROLE_ADMIN')" >
					{{# if(d.username != currentUserName){ }}
						{{# if(checkIsAdmin(d.roles)){ }}
							<a class="layui-btn layui-btn-xs">管理员</a>
						{{# }else if(checkIsSuperAdmin(d.roles)){ }}
							<a class="layui-btn layui-btn-xs">超级管理员</a>
						{{# }else{ }}
							<a class="layui-btn layui-btn-xs" title="查看详细信息" lay-event="showinfo">查看</a>
							{{# if(d.status == 0 && d.username != currentUserName){ }}
								<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="usable">已禁用</a>
							{{# }else if(d.status == 1 && d.username != currentUserName){ }}
								<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="usable">已启用</a>
							{{# } }}
							<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
						{{# } }}
					{{# }else{ }}
						<a class="layui-btn layui-btn-xs">管理员</a>
						<a class="layui-btn layui-btn-xs">管理中</a>
					{{# } }}
				</div>
				<div sec:authorize="hasRole('ROLE_SUPER_ADMIN')" >
					{{# if(d.username != currentUserName){ }}
						{{# if(checkIsSuperAdmin(d.roles)){ }}
							<a class="layui-btn layui-btn-xs">超级管理员</a>
						{{# }else{ }}
							{{# if(checkIsAdmin(d.roles)){ }}
								<a class="layui-btn layui-btn-xs">管理员</a>
							{{# }else{ }}
								<a class="layui-btn layui-btn-xs">用户</a>
							{{# } }}
							<a class="layui-btn layui-btn-xs" title="查看详细信息" lay-event="showinfo">查看</a>
							<a class="layui-btn layui-btn-xs" title="编辑权限" lay-event="editrole">权限</a>
							{{# if(d.status == 0 && d.username != currentUserName){ }}
								<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="usable">已禁用</a>
							{{# }else if(d.status == 1 && d.username != currentUserName){ }}
								<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="usable">已启用</a>
							{{# } }}
							<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
						{{# } }}
					{{# }else{ }}
						<a class="layui-btn layui-btn-xs">超级管理员</a>
						<a class="layui-btn layui-btn-xs">管理中</a>
					{{# } }}
				</div>
			</script>
			<script type="text/html" id="toolbarTop">
			</script>
		</form>
		<div th:replace="admin/templates/commons/script::script('/admin/static/commons/user/user_list.js')"></div>
	</body>

</html>