<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>401--即刻社区</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<div th:replace="admin/templates/commons/link::head('/admin/static/css/public.css')"></div>
</head>
<body class="childrenBody">
	<div class="noFind">
		<div class="ufo">
			<i class="seraph icon-test ufo_icon"></i>
			<i class="layui-icon page_icon">&#xe638;</i>
		</div>
		<div class="page401">
			<i class="layui-icon">&#xe702;</i>
			<p th:text="${message} != null ? ${message} : '对不起!token无效!'">对不起!token无效!</p>
		</div>
	</div>
	<div th:replace="admin/templates/commons/script::script('')"></div>
</body>
</html>